<div id="" class="text-center set-min-height">
    <h3 class="content-empty-message mb-0" style="padding-top:35vh; line-height:35px;"> Your cart is empty. Please add items to your cart.</h3>
    <div class="mt-4 w-100 d-inline-block">
        <button onclick="location.href='/Subscribe'" class="btn common-button mt-3 bg-color-org">Return to store</button> <button onclick="location.href='/index'" class="btn common-button bg-color-black mt-3 ml-2">Visit Home Page</button>
    </div>
</div>