@model IEnumerable<PHXCOM.PlatformSDK.Models.Order>
@{
    Layout = null;

}


@if (Model != null && Model.Count() > 0)
{


    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordred table-striped" id="tbProductItem">
                        <thead>
                            <tr class="mobile-tr">
                                <th scope="col" class="col_4">Date</th>
                                <th scope="col" class="col_1">Order Number</th>
                                <th scope="col" class="col_4 text-left">Order Status</th>
                                <th scope="col" class="col_3 text-right">Price</th>
                                <th scope="col" class="col_3 text-right"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td data-label="Date : &nbsp;">@(item.CreatedOn.Value.ToString("MM/dd/yyyy hh:mm tt"))</td>
                                    <td data-label="Order Number : &nbsp;">@item.OrderId</td>
                                    <td data-label="Order Status : &nbsp;">@item.Status</td>
                                    <td data-label="Total : &nbsp;" class="text-right">@item.Total.GetValueOrDefault(0).ToString("C")</td>

                                    <td class="text-center">  <a href="/Order/OrderHistory/@item.OrderId" title="view order"><i class="fas fa-eye"></i></a>   </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <p>No orders.</p>
}