
@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row wrapper-catelog mb-3">
        <div class="col-12 mt-4 pt-3">
            <h1 class="page-header text-center text-md-left">Privacy Policy</h1>
        </div>
        <div class="col-12 mt-3 item-long-description">
            <h5 class="text-left sub-headers ">Copyright</h5>


            <p class="mt-2 d-inline-block">
                The Mining Record is part of Howell International Enterprises, LLC. <br /><br />

                www.VehiclesDemo.com 1994 – 2019© <br /><br />

                The contents of this Website are protected by copyright. All other rights are reserved and commercial use including publication, broadcast or redistribution in any medium are prohibited. Permission to copy must be sought from the copyright owner, being either The Mining Record, Howell International Enterprises, LLC., and/or companies representing themselves on said website.
            </p>
        </div>
        <div class="col-12 mt-3 item-long-description">
            <h5 class="text-left sub-headers ">Privacy Policy Terms and Conditions</h5>


            <p class="mt-2 d-inline-block">
                Howell International Enterprises, LLC operates with the highest standards in assuring our customers' privacy. All information relating to customers' online accounts, online transactions, and correspondence are confidential. <br /><br />

                Any personal information collected by Howell International Enterprises, LLC is transaction related, requested by the individual. Customers knowingly submit personal details in order to guarantee delivery and receive correspondence relating to the identified products.<br /><br />

                We collect no personal information about you unless you choose to include and provide that information. Techniques to collect personal information about you without your knowledge is not used by this organization. While viewing the website, your information is anonymous.<br /><br />

                Howell International Enterprises, LLC uses credit card numbers submitted to us through our web site for payment purposes only, and not for marketing purposes. We utilize the highest industry standard secure technology to sensibly assure the privacy and security of the credit card numbers of anyone who places orders with us.<br /><br />

                By providing a request for any of our information and products, you are entitled to receive correspondence from Howell International Enterprises, LLC. If you send us an email message, we may retain that message and your email address, as well as any response. Email may be used as a way to keep in touch with interested, existing clients and customers.<br /><br />

                Howell International Enterprises, LLC is not responsible for any marketing or other use of your name by the third party.<br /><br />

                By using this site, you agree to the terms and condition of the Privacy Policy. We reserve the right, to change and/or modify this policy at anytime. Check this page periodically for any updates.
            </p>
        </div>
        <div class="col-12 mt-3 item-long-description">
            <h5 class="text-left sub-headers ">Disclaimer</h5>


            <p class="mt-2 d-inline-block">
                The Mining Record and Howell International Enterprises, LLC does not guarantee the information contained on its website. Information is obtained from press releases, media managers and third party submissions. The information contained in advertising publications, tile ads, postage stamp ads, company logos and banner ads is not guaranteed in terms of their correctness, accuracy, timeliness, reliability or otherwise.<br /><br />

                <b>SHIPPING AND HANDLING OF PRODUCTS –</b> All orders placed are sent via USPS unless otherwise arranged.<br /><br />

                RETURNS/REFUNDS – All returns are handled on an individual basis. To return item for a refund, please contact The Mining Record, Howell International Enterprises, LLC., P.O. Box 1630, Castle Rock, Colorado 80104 USA, Tel: <a href="tel://800-441-4748" class="common-link">800-441-4748,</a>  email: <a href="mailto:customerservice@VehiclesDemo.com" class="common-link">customerservice@VehiclesDemo.com.</a> 
            </p>
        </div>
    </div>
