
@model List<PHXCOM.PlatformSDK.Models.Product>
@{
    Layout = null;
    List<string> breadCrumbs = ViewBag.BreadCrumbs;
}


    @*<div id="syndicationBreadcrumbContainer" class="breadcrumbs breadcrumbs-height">

        @await Html.PartialAsync("BreadCrumbView", breadCrumbs)

    </div>*@

    @*<div class="col-12 mt-4 pt-3">
        <h1 class="page-header text-center text-md-left">Application Product List</h1>
    </div>*@

@if ( Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {

        <div class="col-md-6 col-lg-3 col-12 list-item mb-1 text-center mt-2 mt-md-0 pb-md-3 mb-5">
            <a href="/products/@item.ProductCode" class="d-inline-block">
                <div class="wrapper-image">
                    @if (item.ImageThumb != null)
                    {
                        <img src="@item.ImageThumb" />
                    }
                    else
                    {
                        <img src="~/images/no-image.png" class="no-image" />
                    }
                </div>
                <h2 class="mt-5 mt-md-0">@item.ProductName</h2>
            </a>
        </div>

    }

}
else 
{
<h4 class="d-inline-block w-100 content-empty-message no-product-msg"> Sorry.  We currently do not have any products for this application.</h4>
<div class="text-center w-100 d-inline-block mt-4 pt-2 pb-1">
    <a href="/Golf-Cart-Parts-Accessories" class="common-orange-button px-4"><i class="fas fa-list-ul"></i> Shop All</a>
</div>
}

@await Html.PartialAsync("~/Views/Product/CommonPopupView.cshtml")