@model PHXCOM.PlatformSDK.Models.Page
@{
    ViewData["Title"] = Model.PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container about-us">
    <div class="mt-4 pt-1">
        @Html.Raw(Model.PageContent)
    </div>
</div>
@await Html.PartialAsync("~/Views/Product/CommonPopupView.cshtml")

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            setCookieValuesToAppProp();
        });
    </script>
}