
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";



}



@if (ViewBag.Status == 1)
{

    <div class="row wrapper-catelog mb-3 col-5 justify-content-center mx-auto">
        <div class="col-12 mt-4 py-3">
            <h1 class="page-header text-center">Reset Password</h1>
            <p></p>
        </div>
        <div class="col-12 mt-md-1 mt-4">
            <div class="row">
                <form id="frmResetPassword" class="col-12">
                    <div class="col-12 float-left  form-group">
                        <label>Password</label>
                        <input type="password" required id="txtPsswrd" name="txtPsswrd" placeholder="Password" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-12 float-left form-group">
                        <label>Confirm Password</label>
                        <input type="password" required id="txtPsswrdCnfrm" name="txtPsswrdCnfrm" placeholder="Confirm Password" class="form-control" />
                    </div>
                </form>

                <div class="col-10 mt-md-4 text-md-left text-center mx-auto">

                    <button type="button" class="btn btn-primary common-button w-100 enterHandler" onclick="account.resetPassword()">Reset</button>
                </div>
            </div>
        </div>
    </div>



}
else if (ViewBag.Status == 2)
{
    <div>Link has expired</div>
}
else
{
    <div>
        Invalid Token
    </div>
}


